.star-rating {
    font-size: 24px;
}

.btn-star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    stroke: #e17b21;
}

.btn-star svg {
    width: 20px;
}

.on {
    color: #000;
    fill: #ffb23f;
}
.off {
    color: #ccc;
    fill: transparent;
}
