.os-review-widget__title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.os-review-widget__wrapper {
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.os-review-widget {
    margin: 50px 0 80px;
}

/* Widget Lists */
.os-widget-review__lists {
    position: relative;
    padding-top: 10px;
}

.os-widget-review__lists-filter {
    position: absolute;
    min-width: 200px;
    right: 0;
}

.os-widget-review__lists-hr {
    margin-top: 50px;
}

.os-widget-review__lists-empty {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 18px;
}

.os-widget-review__list {
    text-align: left;
    margin: 30px 0;
}

.os-widget-review__lists-sort {
    width: 200px;
    background-color: transparent;
    border: none;
    --tw-ring-color: transparent !important;
}

.os-widget-review__name,
.os-widget-review__title {
    font-size: var(--font-size-lead);
    font-weight: 700;
}

.os-widget-review__lists .star-rating {
    margin-top: 5px;
}

/* SUMMARY */
.os-review-summary__wrapper {
    display: flex;
    justify-content: space-between;
}

.os-review-summary__item {
    padding: 20px 0;
}

.os-review-summary__item + .os-review-summary__item {
    border-left: solid 1.5px grey;
}

.os-review-summary__star {
    width: 30%;
}

.os-review-summary__star .summary-star__wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.os-review-summary__star .summary-star-text {
    font-size: 35px;
    font-weight: bold;
}

.os-review-summary__rating {
    width: 40%;
}

.os-review-summary__action {
    width: 30%;
}

.os-review-summary__rating-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 60%;
    margin: auto auto 7px;
}

.os-review-summary__rating-count {
    width: 20%;
}
/* SUMMARY */
