.star-rating {
    display: flex;
}

.btn-star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    stroke: #e17b21;
    padding: 0;
}

.btn-star svg {
    width: 25px;
}

.on {
    color: #000;
    fill: #ffb23f;
}
.off {
    color: #ccc;
    fill: transparent;
}
